@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-pdfviewer/styles/material.css";
@import "../node_modules/@syncfusion/ej2-notifications/styles/material.css";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');
body {
  margin: 0 0 0 0;
  background-color: #fbfbfb;
}
p {
  padding: 1rem;
  font-family: 'Prompt', sans-serif !important;
}
th,
td {
  padding: 1rem;
  font-family: 'Prompt', sans-serif !important;
}
h6 {
  padding: 1rem;
  font-family: 'Prompt', sans-serif !important;
}
h3 {
  font-size: 1rem;
  font-family: 'Prompt', sans-serif !important;
}
span {
  font-size: 1rem;
  font-family: 'Prompt', sans-serif !important;
}
.MuiInputBase-root {
  font-size: 1rem;
  font-family: 'Prompt', sans-serif !important;
}
fieldset {
  font-size: 1rem;
  font-family: 'Prompt', sans-serif !important;
}
input {
  font-family: 'Prompt', sans-serif  !important;
}
.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url(./img/itkmitl.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #e65100 !important;
}
.login {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 7%;
  padding-left: 3%;
}
.fill {
  display: block;
}
.cardlogin {
  padding-top: 35%;
}
.card {
  width: 40%;
  padding-left: 3px;
  padding-right: 3px;
  color: rgb(240 240 242);
}
.Button {
  color: #e65100 !important;
  border: 1px solid rgba(230, 81, 0, 0.5) !important;
}
.Button:hover {
  background-color: #e6510052 !important;
}

.button-label {
  color: rgba(238, 14, 14, 0.322);
}
li {
  font-family: 'Prompt', sans-serif !important;
}
@media (max-width: 1024px) {
  .card {
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
  }
  .cardlogin {
    padding-top: 25%;
  }
}
