.toolsGroup {
  flex-direction: column;
  display: flex;
  position: fixed;
  top: 73%;
  bottom: auto;
  right: 0px;
}
.MuiFab-primary {
  margin-bottom: 3px !important;
  margin-right: 2px !important;
}

#qa .MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded {
  margin-top: 0px !important;
  margin-bottom: 15px;
}

#qa .mainslideBar {
  display: none;
}
